<section class="homepage">
    <div class="homepage__wrapper">
        <div class="homepage__content">
            <h1 class="animate-pop-in">Explore Questions</h1>
            <h2 class="animate-pop-in delay-1">Ace Your Technical Skills with Unlimited Questions</h2>
            <p class="animate-pop-in delay-2">Unlock, practice, and master unlimited questions designed to boost your knowledge and accelerate your learning.</p>
            <button class="effect effect-1 animate-pop-in delay-3" mat-raised-button color="primary">
                Try for FREE <i data-lucide="zap"></i>
            </button>
            <p class="trusted-text animate-pop-in delay-4">Trusted by users globally</p>
            <div class="stars animate-pop-in delay-5">
                ★★★★★
            </div>
        </div>
        <div class="homepage__image animate-slide-in">
            <img src="/assets/Hero.png" alt="Exam Preparation">
        </div>
    </div>
    
    <h3 class="service-title">Our Trusted Partners</h3>
    <div class="slider">
        <div class="slide-track">
            <div class="slide"><img src="/assets/1.png" alt="Logo 1"></div>
            <div class="slide"><img src="/assets/2.png" alt="Logo 2"></div>
            <div class="slide"><img src="/assets/3.png" alt="Logo 3"></div>
            <div class="slide"><img src="/assets/4.png" alt="Logo 4"></div>
            <div class="slide"><img src="/assets/5.png" alt="Logo 5"></div>
            <div class="slide"><img src="/assets/6.png" alt="Logo 6"></div>
            <div class="slide"><img src="/assets/7.png" alt="Logo 7"></div>
            <div class="slide"><img src="/assets/8.png" alt="Logo 8"></div>
            <div class="slide"><img src="/assets/9.png" alt="Logo 9"></div>
            <!-- Duplicate the slides -->
            <div class="slide"><img src="/assets/1.png" alt="Logo 1"></div>
            <div class="slide"><img src="/assets/2.png" alt="Logo 2"></div>
            <div class="slide"><img src="/assets/3.png" alt="Logo 3"></div>
            <div class="slide"><img src="/assets/4.png" alt="Logo 4"></div>
            <div class="slide"><img src="/assets/5.png" alt="Logo 5"></div>
            <div class="slide"><img src="/assets/6.png" alt="Logo 6"></div>
            <div class="slide"><img src="/assets/7.png" alt="Logo 7"></div>
            <div class="slide"><img src="/assets/8.png" alt="Logo 8"></div>
            <div class="slide"><img src="/assets/9.png" alt="Logo 9"></div>
        </div>
    </div>
     <!-- Service Section -->
     <h3 class="service-title">Elevate Your Technical Skills with Active Recall</h3>
     <div class="service-container">
         <div class="service-box">
             <img src="/assets/11.png" alt="Interactive Quizzes">
             <h4>1000s of Questions</h4>
             <p>Master your technical skills with 1000s of carefully crafted questions, put together by ex-industry professionals to help you succeed both on the job and in interviews</p>
         </div>
         <div class="service-box">
             <img src="/assets/12.png" alt="Real-Time Feedback">
             <h4>Expert Explanations</h4>
             <p>Reinforce your learning with expert explanations for each answer, ensuring you solidify your understanding of the topic. </p>
         </div>
         <div class="service-box">
             <img src="/assets/13.png" alt="Expert Solutions">
             <h4>Practice on-the-Go</h4>
             <p>Unlike conventional resources, our platform has been designed so that you can practice and learn wherever you are with no limitations.</p>
         </div>
         <div class="service-box">
             <img src="/assets/14.png" alt="Progress Tracking">
             <h4>Unlimited Access </h4>
             <p>Our platform provides you with uninterrupted and unlimited access, so that you can practice and develop as much as you need.</p>
         </div>
     </div>
     <section class="subject-section">
        <div class="subject-container">
            <div class="subject-content">
                <h3>Ace your Technical Skills Across Key Topic Areas</h3>
                <p>Whether its Investment Banking, Sales & Trading, or Accounting & Finance, our expertly-crafted questions, answers, and explanations will ensure you develop your understanding and become an expert whether you’re a student or industry professional.</p>
                <button class="create-account" mat-raised-button color="primary">Create Free Account</button>
                <p class="cancel-text">Cancel membership anytime!*</p>
            </div>
            <div class="subject-boxes">
                <div class="subject-box">
                    <img src="/assets/Investment-Banking.png" alt="Medicine">
                    <h4>Investment Banking </h4>
                </div>
                <div class="subject-box">
                    <img src="/assets/Sales&Trading.png" alt="Dentistry">
                    <h4>Sales & Trading </h4>
                </div>
                <div class="subject-box">
                    <img src="/assets/Accounting&Finance.png" alt="Law">
                    <h4>Accounting & Finance </h4>
                </div>
                <div class="subject-box">
                    <img src="/assets/other.png" alt="Other Subjects">
                    <h4>M&A </h4>
                </div>
            </div>
        </div>
        <canvas id="waveCanvas"></canvas>
    </section>
    <section class="testimonial-section">
        <h3 class="service-title">What Our Users Say</h3>
        <div class="testimonial-container">
            <div class="testimonial-box">
                <h6 class="testimonial-name">John Doe</h6>
                <p class="testimonial-text">"This platform has transformed the way I study. The interactive quizzes and expert solutions are game-changers!"</p>
                <h4 class="testimonial-name">Sales & Trading Summer Analyst</h4>
                <img src="/assets/2.png" alt="Company 1" class="testimonial-logo">
            </div>
            <div class="testimonial-box">
                <h6 class="testimonial-name">Sarah Johnson </h6>
                <p class="testimonial-text">"The real-time feedback helps me understand my mistakes instantly. Highly recommended!"</p>
                <h4 class="testimonial-name">Associate, Investment Banking (DCM)</h4>
                <img src="/assets/company2.jpg" alt="Company 2" class="testimonial-logo">
            </div>
            <div class="testimonial-box">
                <h6 class="testimonial-name">Michael Smith </h6>
                <p class="testimonial-text">"An excellent resource for anyone preparing for exams. The progress tracking keeps me motivated!"</p>
                <h4 class="testimonial-name">Master’s Student </h4>
                <img src="/assets/9.png" alt="Company 3" class="testimonial-logo">
            </div>
        </div>
    </section>
    <section class="pricing-section">
        <h3 class="service-title">Choose Your Plan</h3>
        <div class="toggle-container">
            <span>Monthly</span>
            <label class="switch">
                <input type="checkbox" id="toggle" (change)="togglePricing()">
                <span class="toggle-slider round"></span>
            </label>
            <span>Yearly</span>
        </div>
        <div class="pricing-container">
            <div class="pricing-box basic">
                <h4>Basic</h4>
                <p class="price">
                    <span class="currency">£</span>
                    <span class="amount">{{ isYearly ? '0' : '0' }}</span>
                    <span class="period">/{{ isYearly ? 'month' : 'month' }}</span>
                </p>
                <ul>
                    <li>Limited access to Questions & Material</li>
                    <li>Access ONLY to Education-style Questions</li>
                </ul>
                <button class="select-plan" mat-raised-button color="primary">Select Plan</button>
            </div>
            <div class="pricing-box pro">
                <h4>Pro – Individual Package</h4>
                <p class="price">
                    <span class="currency">£</span>
                    <span class="amount">{{ isYearly ? '7.90' : '9.99' }}</span>
                    <span class="period">/{{ isYearly ? 'month' : 'month' }}</span>
                </p>
                <ul>
                    <li>UNLIMITED Access to One Course</li>
                    <li>UNLIMITED Access to Questions & Material</li>
                    <li>UNLIMITED Access to Industry-Expert Explanations & Tips </li>
                    <li>UNLIMITED Access to Interview-Style Questions </li>
                    <li>UNLIMITED Access to Case-Study Questions </li>
                    <li>UNLIMITED Access to Education-Style Questions </li>
                    <li>24/7 Support</li>
                    <li>FULL Access to Weekly New Material</li>
                </ul>
                <button class="select-plan" mat-raised-button color="primary" (click)="navigateToPricingDetails()">
                    Select Plan
                  </button>
                            </div>
            <div class="pricing-box pro">
                <h4>Pro – Bundle Package</h4>
                <p class="price">
                    <span class="currency">£</span>
                    <span class="amount">{{ isYearly ? '9.99' : '14.99' }}</span>
                    <span class="period">/{{ isYearly ? 'month' : 'month' }}</span>
                </p>
                <ul>
                    <li>UNLIMITED Access to All Course</li>
                    <li>UNLIMITED Access to Questions & Material</li>
                    <li>UNLIMITED Access to Industry-Expert Explanations & Tips </li>
                    <li>UNLIMITED Access to Interview-Style Questions </li>
                    <li>UNLIMITED Access to Case-Study Questions </li>
                    <li>UNLIMITED Access to Education-Style Questions </li>
                    <li>24/7 Support</li>
                    <li>FULL Access to Weekly New Material</li>
                </ul>
                <button class="select-plan" mat-raised-button color="primary" (click)="navigateToPricingDetails()">
                    Select Plan
                  </button>
                
                </div>
        </div>
    </section>
</section>