<section class="homepage">
    <div class="homepage__wrapper">
        <div class="homepage__content">
            <h1>Explore Questions</h1>
            <h2 class="">Ace Your Technical Skills with Unlimited Questions</h2>
            <p>Unlock, practice, and master unlimited questions designed to boost your knowledge and accelerate your learning.</p>
            <button class="Try_free" mat-raised-button color="primary">Try for FREE</button>
            <p>Trusted by users Globally </p>
            <p>★★★★★</p>
        </div>
        <div class="homepage__image">
            <img src="/assets/Hero.png" alt="Exam Preparation">
        </div>
    </div>
    <h3 class="slider-title">Our Trusted Partners</h3>
    <div class="slider">
        <div class="slide-track">
            <div class="slide"><img src="/assets/1.png" alt="Logo 1"></div>
            <div class="slide"><img src="/assets/2.png" alt="Logo 2"></div>
            <div class="slide"><img src="/assets/3.png" alt="Logo 3"></div>
            <div class="slide"><img src="/assets/4.png" alt="Logo 4"></div>
            <div class="slide"><img src="/assets/5.jpg" alt="Logo 5"></div>
            <div class="slide"><img src="/assets/6.png" alt="Logo 6"></div>
            <div class="slide"><img src="/assets/7.svg" alt="Logo 7"></div>
            <div class="slide"><img src="/assets/8.png" alt="Logo 8"></div>
            <div class="slide"><img src="/assets/9.png" alt="Logo 9"></div>
            <div class="slide"><img src="/assets/1.png" alt="Logo 1"></div>
            <div class="slide"><img src="/assets/2.png" alt="Logo 2"></div>
            <div class="slide"><img src="/assets/3.png" alt="Logo 3"></div>
            <div class="slide"><img src="/assets/4.png" alt="Logo 4"></div>
            <div class="slide"><img src="/assets/5.jpg" alt="Logo 5"></div>
            <div class="slide"><img src="/assets/6.png" alt="Logo 6"></div>
            <div class="slide"><img src="/assets/7.svg" alt="Logo 7"></div>
            <div class="slide"><img src="/assets/8.png" alt="Logo 8"></div>
            <div class="slide"><img src="/assets/9.png" alt="Logo 9"></div>
        </div>
    </div>
</section>